<div class="uk-child-width-expand@s" uk-grid>

  <div>
    <h4>Funding</h4>
    <p>
      NICEST2 is a project within the
      <a href="https://neic.no" target="_blank">Nordic e-Infrastructure Collaboration</a> (NeIC).
      NeIC is an organisational unit under <a href="https://www.nordforsk.org/" target="_blank">NordForsk</a>.
    </p>
  </div>

  <div>
    <h4>Follow us</h4>
    <ul class="uk-iconnav">
      <li>
        <a href="https://github.com/NordicESMHub" target="_blank" uk-icon="icon: github"></a>
      </li>
      <li>
        <a href="https://twitter.com/AnneFouilloux" target="_blank" uk-icon="icon: twitter"></a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Contact</h4>
    <p>
      <a href="mailto:annef@simula.no">annef@simula.no</a>
    </p>
  </div>

  <div>
    <h4>Improve this page</h4>
    <p>
      <a href="{{ config.extra.source_repo }}">Source code</a>
    </p>
  </div>

</div>
